### Solución Tarea 1

In [1]:
# Importar paquetes
import pandas as pd
import numpy as np
import os
from sklearn import svm

# Configuración para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [2]:
print(os.getcwd())

d:\A_UNAD\CURSOS\2024\002_PROGRAMACION_DA\Tarea1

#### Ejercicio 1

Poner texto ejercicio 1....

In [3]:
# ruta = os.path.join("Anexo 1 - Base de Datos EXCEL.xlsx")
df1 = pd.read_excel("Anexo 1 - Base de Datos EXCEL.xlsx", skiprows = 3, sheet_name = "BASE DE DATOS")

In [4]:
df1.head()

,Servicio,Empresa,Turno,Día de la semana,Experiencia del conductor,Formación del Paramédico,Nivel del Paramédico,Cantidad de atenciones,Distancia recorrida (Km),Velocidad máxima (Km/h),Consumo de combustible (Galones),Tiempo en Movimiento (h),Tiempo motor ON (h)
0,1,TAC,D,5,Principiante,4,I,8,78.4,82,3.1,2.8,3.08
1,2,TAD,N,4,Principiante,3,B,5,46.2,89,1.9,2.1,2.31
2,3,TAB,N,4,Experto,4,B,6,62.4,99,2.5,2.6,4.68
3,4,TAB,D,2,Intermedio,3,B,7,70.2,95,3.0,2.6,3.12
4,5,TAC,N,7,Principiante,2,I,8,75.6,87,2.8,2.8,3.64

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Servicio                          2200 non-null   int64
 1   Empresa                           2200 non-null   object
 2   Turno                             2200 non-null   object
 3   Día de la semana                  2200 non-null   int64
 4   Experiencia del conductor         2200 non-null   object
 5   Formación del Paramédico          2200 non-null   int64
 6   Nivel del Paramédico              2200 non-null   object
 7   Cantidad de atenciones            2200 non-null   int64
 8   Distancia recorrida (Km)          2200 non-null   float64
 9   Velocidad máxima (Km/h)           2200 non-null   int64
 10  Consumo de combustible (Galones)  2200 non-null   float64
 11  Tiempo en Movimiento (h)          2200 non-null   float64
 12  Tiempo motor ON (h)               2200 non-null   float64
dtypes: float64(4), int64(5), object(4)
memory usage: 223.6+ KB

### Ejercicio 2

Imprimimos versión de python

```python
print(python.__version__)
```